.vscode*
*.iml
.idea
target/
dependency-reduced-pom.xml
node_modules/
bower_components/
venus-data-*/
.swp
.iws
.ipr
.DS_Store
metastore_db/
derby.log
.generated
**/*.zip
**/tags
**/tags.lock
**/tags.temp